# Assignment on Store_sales dataset

**Load the Dataset**

In [2]:
import pandas as pd
data = pd.read_csv('store_sales.csv')
data.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

**Calculate the total sales for each store across all months.**

In [7]:
data['Total_Sales'] = data.iloc[:, 2:].sum(axis=1)
print(data[['store_id', 'Total_Sales']])

   store_id  Total_Sales
0       S_1          356
1       S_2          348
2       S_3          362
3       S_4          270
4       S_5          318
..      ...          ...
95     S_96          370
96     S_97          308
97     S_98          336
98     S_99          346
99    S_100          360

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [6]:
avg_sales_per_month = data.iloc[:, 2:-1].mean()
print( avg_sales_per_month)

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

**Identify the store with the highest total sales.**

In [10]:
highest_s_store = data.loc[data['Total_Sales'].idxmax()]
print(f" store:{highest_s_store['store_id']}, value:({highest_s_store['Total_Sales']})")

 store:S_62, value:(428)

**Calculate the total sales for each city.**

In [11]:
total_sales_city = data.groupby('city')['Total_Sales'].sum()
print(total_sales_city)

city
Arizona        7902
California    15044
Texas         11878
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [12]:
stores = data[data['Total_Sales'] > 200]
print( stores[['store_id', 'Total_Sales']])

   store_id  Total_Sales
0       S_1          356
1       S_2          348
2       S_3          362
3       S_4          270
4       S_5          318
..      ...          ...
95     S_96          370
96     S_97          308
97     S_98          336
98     S_99          346
99    S_100          360

[100 rows x 2 columns]

**Which month had the highest average sales across all stores?**

In [18]:
highest_avg= avg_sales_per_month.idxmax()
highest_avg

'Aug'

In [16]:
highest_avg_sales_value = average_sales_per_month.max()
print(f"Month with the highest average sales: {highest_avg_sales_month} ({highest_avg_sales_value})")

Month with the highest average sales: Aug (15.81)

**Which city generated the most revenue?**

In [20]:
highest_revenue_city = total_sales_city.idxmax()
highest_revenue_value = total_sales_city.max()
print(f"City with the highest revenue: {highest_revenue_city} ({highest_revenue_value})")

City with the highest revenue: California (15044)