## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [3]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [4]:
auto = pd.read_csv('Automobile.csv')
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**Check the head of the DataFrame.**

In [5]:
auto.head(10)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,161,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,168,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

**How many rows and columns are there?**

In [6]:
rows, cols = auto.shape

In [7]:
print("rows:",rows)
print("cols:",cols)

rows: 201
cols: 26

**What is the average Price of all cars in the dataset?**

In [8]:
average_price = auto['price'].mean()
print(average_price)

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [14]:
cheapest_car = auto.loc[auto['price'].idxmin()]
print(cheapest_car[['make','price']])

make     subaru
price      5118
Name: 134, dtype: object

In [15]:
cheapest_car = auto.loc[auto['price'].idxmax()]
print(cheapest_car[['make','price']])

make     mercedes-benz
price            45400
Name: 71, dtype: object

**How many cars have horsepower greater than 100?**

In [18]:
cars = auto[auto['horsepower'] > 100]
count = cars.shape[0]
print(count)

90

**How many hatchback cars are in the dataset ?**

In [21]:
hb_cars = auto[auto['body_style'] == 'hatchback']
c_hbc = hb_cars.shape[0]

In [22]:
print(c_hbc)

68

**What are the 3 most commonly found cars in the dataset?**

In [24]:
car_count = auto['make'].value_counts()
car_count

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
chevrolet         3
alfa-romero       3
jaguar            3
isuzu             2
renault           2
mercury           1
Name: count, dtype: int64

In [25]:
top_3 = car_count.head(3)
print(top_3)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [26]:
car_with_price_7099 = auto[auto['price'] == 7099]
car_make = car_with_price_7099['make'].iloc[0] 
print(car_make)

nissan

**Which cars are priced greater than 40000?**

In [27]:
cars_over_40000 = auto[auto['price'] > 40000]
print(cars_over_40000)

    symboling  normalized_losses           make fuel_type aspiration  \
15          0                149            bmw       gas        std
70          0                140  mercedes-benz       gas        std
71          1                140  mercedes-benz       gas        std

   number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
15             two      sedan          rwd           front       103.5  ...
70            four      sedan          rwd           front       120.9  ...
71             two    hardtop          rwd           front       112.0  ...

    engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
15          209         mpfi  3.62    3.39               8.0        182
70          308         mpfi  3.80    3.35               8.0        184
71          304         mpfi  3.80    3.35               8.0        184

    peak_rpm city_mpg  highway_mpg  price
15      5400       16           22  41315
70      4500       14           16  40960
71      4500       14           16  45400

[3 rows x 26 columns]

**Which are the cars that are both a sedan and priced less than 7000?**

In [29]:
sedans_under_7000 = auto[(auto['body_style'] == 'sedan') & (auto['price'] < 7000)]
print(sedans_under_7000[['make', 'price', 'body_style']])

           make  price body_style
19    chevrolet   6575      sedan
24        dodge   6692      sedan
42        isuzu   6785      sedan
50        mazda   6695      sedan
82   mitsubishi   6989      sedan
86       nissan   5499      sedan
88       nissan   6649      sedan
89       nissan   6849      sedan
118    plymouth   6692      sedan
152      toyota   6938      sedan

 **Count the number of unique values in the `fuel_type` column.**

In [31]:
u = auto['fuel_type'].unique()
unique_fuel_types = auto['fuel_type'].nunique()
print(u)
print(unique_fuel_types)

['gas' 'diesel']
2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [32]:
cars_hp = auto[(auto['horsepower'] >= 100) & (auto['horsepower'] <= 200)]
result = cars_hp[['make', 'horsepower', 'price']]
print(result)

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[88 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [33]:
avg = auto.groupby('body_style')[['city_mpg', 'highway_mpg']].mean()
print(avg)

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [34]:
median= auto.groupby('make')['price'].median()
print(median)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [35]:
filtered_cars = auto[(auto['wheel_base'] > 100) & (auto['curb_weight'] < 2500)]
print(filtered_cars)

     symboling  normalized_losses    make fuel_type aspiration  \
9            2                192     bmw       gas        std
10           0                192     bmw       gas        std
169         -1                 65  toyota       gas        std
170         -1                 65  toyota    diesel      turbo
171         -1                 65  toyota       gas        std
172         -1                 65  toyota       gas        std
173         -1                 65  toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
9               two      sedan          rwd           front       101.2  ...
10             four      sedan          rwd           front       101.2  ...
169            four      sedan          fwd           front       102.4  ...
170            four      sedan          fwd           front       102.4  ...
171            four  hatchback          fwd           front       102.4  ...
172            four      sedan          fwd           front       102.4  ...
173            four  hatchback          fwd           front       102.4  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
9            108         mpfi  3.50    2.80               8.8        101
10           108         mpfi  3.50    2.80               8.8        101
169          122         mpfi  3.31    3.54               8.7         92
170          110          idi  3.27    3.35              22.5         73
171          122         mpfi  3.31    3.54               8.7         92
172          122         mpfi  3.31    3.54               8.7         92
173          122         mpfi  3.31    3.54               8.7         92

     peak_rpm city_mpg  highway_mpg  price
9        5800       23           29  16430
10       5800       23           29  16925
169      4200       29           34   8948
170      4500       30           33  10698
171      4200       27           32   9988
172      4200       27           32  10898
173      4200       27           32  11248

[7 rows x 26 columns]

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [36]:
auto['price_per_hp'] = auto['price'] / auto['horsepower']
print(auto[['make', 'price', 'horsepower', 'price_per_hp']].head())

          make  price  horsepower  price_per_hp
0  alfa-romero  13495         111    121.576577
1  alfa-romero  16500         111    148.648649
2  alfa-romero  16500         154    107.142857
3         audi  13950         102    136.764706
4         audi  17450         115    151.739130

**Count how many cars have a `number_of_doors` as `four`.**

In [38]:
four_door_count = auto[auto['number_of_doors'] == 'four'].shape[0]
print(four_door_count)

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [39]:
top_cars = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False]).head(5)
print(top_cars[['make', 'highway_mpg', 'price']])

          make  highway_mpg  price
29       honda           54   6479
17   chevrolet           53   5151
87      nissan           50   7099
155     toyota           47   7788
156     toyota           47   7738

**How many cars have missing values in the `normalized_losses` column?**

In [41]:
missing = auto['normalized_losses'].isna().sum()
print(missing)

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [42]:
current_year = 2025
auto['car_age'] = current_year - auto['year_of_manufacture']
print(auto[['make', 'year_of_manufacture', 'car_age']].head())

KeyError: 'year_of_manufacture'

### The END